<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/20f15311-0c2b-44bd-856a-602e6e74b6b2/resourceGroups/ValGut-PAYGO/providers/Microsoft.ContainerRegistry/registries/HelloWorldApi20201203084108</ResourceId>
    <ResourceName>HelloWorldApi20201203084108</ResourceName>
    <ResourceGroup>ValGut-PAYGO</ResourceGroup>
    <Subscription>ValGut-PAYGO</Subscription>
    <RegistryUrl>https://helloworldapi20201203084108.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>57df0569-3e32-478d-a994-7caa6ceaced3</ProjectGuid>
  </PropertyGroup>
</Project>